[Unit]
Description=theClocker app
After=syslog.target

[Service]
User=clocker
WorkingDirectory=/opt/theClocker
ExecStart=/opt/theClocker/App --env=production
Restart=on-abort
EnvironmentFile=/etc/default/clocker.env

[Install]
WantedBy=multi-user.target
